h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

main {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

body {
  width: 100%;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 5rem;
}

nav li {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav li:hover {
  color: #D5896F;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 8rem;
}
@media only screen and (max-width: 480px) {
  .header {
    visibility: hidden;
  }
}

.contact-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.contact-btn:hover {
  color: #D5896F;
}

.intro-grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 60% 40%;
  grid-template-areas: "intro-container-name intro-container-image" "intro-container-summary intro-container-image";
  margin: 10rem 20rem;
  align-content: center;
  text-align: center;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .intro-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro-container-name intro-container-image" "intro-container-summary intro-container-image";
    margin: 5rem 2rem;
    grid-gap: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .intro-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "intro-container-name" "intro-container-image" "intro-container-summary";
    margin: 2rem 1rem;
    grid-gap: 1.5rem;
  }
}

.intro-container-name {
  display: flex;
  grid-area: intro-container-name;
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
}

.intro-container-summary {
  display: flex;
  grid-area: intro-container-summary;
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
  align-items: center;
}

.intro-container-image {
  display: flex;
  grid-area: intro-container-image;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.about-section {
  display: flex;
  flex-direction: row-reverse;
  margin: 10rem 18rem;
  align-content: center;
  text-align: center;
}

.about-title {
  display: flex;
  align-items: center;
}

.about-para {
  display: flex;
  text-align: left;
  align-items: center;
}

#columnOne {
  margin: 0 5rem;
  margin-bottom: 5rem;
  padding-left: 4rem;
  align-content: center;
}

.about-image-container {
  display: flex;
  justify-content: center;
}

.about-image-container img {
  width: 100%;
  border-radius: 15px;
}

.skills-section p {
  text-align: center;
  padding: 0 35rem;
}

.skill-icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.skill-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 6rem;
}

.skill-icon {
  height: 4rem;
  margin: 1rem;
}

.projects-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  row-gap: 0.5rem;
  padding: 20px;
  margin: 0 auto;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 100%;
}

.project-card-block {
  background-color: #DAB785;
  width: 12rem;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card span {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 600px;
}

.project.btns {
  display: flex;
}

.code-btn,
.preview-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-flex;
}
.code-btn:hover,
.preview-btn:hover {
  color: #D5896F;
}

.code-icon {
  width: 20px;
  display: inline-block;
  padding: 0 5px;
  justify-content: center;
}

footer {
  background-color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
  padding: 30px 180px;
  margin-top: 120px;
}
@media only screen and (max-width: 480px) {
  footer {
    padding: 1.5rem 2rem;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.footer-icons {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 480px) {
  .footer-icons {
    justify-content: center;
    margin-top: 1rem;
  }
}

.footer-icon {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=styles.css.map */