@import "./button.scss";
@import "./palette.scss";
@import "./media.scss";
@import "./font-styles.scss"



// GLOBAL STYLES -------------------

// * {
//     outline: 1px solid red; /* Shows the outline of all elements */
// }

body {
    margin: 0;
    font-family: $font-family-primary;
}

main {
    font-size: $font-size-primary;
    color: $font-color-primary;
    // margin: 2rem;

    @include laptop-desktop {
        font-size: $font-size-primary-large;
    }
}

h1 {
    font-size: $font-size-heading;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    @include laptop-desktop {
        font-size: 2.5rem;
    }
}

h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-heading;
}

// HEADER & NAV ------------------------

.header {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px 0;
    border-bottom: 2px solid $green;

    @include laptop-desktop {
        display: flex;
        padding: 2rem 5rem;
    }

    @include tablet {
        display: flex;
        padding: 2rem 3rem;
    }

    &__title {
        @include tablet {
            font-size: 1rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include tablet {
            justify-content: center;
        }

        &-list {
            display: flex;
            gap: 5rem;

            @include tablet {
                gap: 2rem;
            }
        }

        &-item {
            font-family: $font-family-primary;
            font-size: 1.3rem;
            list-style-type: none;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                color: $orange;
            }

            @include tablet {
                font-size: 1rem;
            }
        }

        &-link {
            text-decoration: none;
            color: inherit;
            font-weight: 600;
        }


        }

        &__btn--contact {
            @include button-style($orange);
            font-size: 1.2rem;

            @include tablet {
                font-size: 1rem;
            }
    }
}

// ---------- INTRO SECTION ----------

.intro {
    margin: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-container-name"
        "intro-container-summary";

    grid-gap: 2rem;

    @include laptop-desktop {
        grid-gap: 1rem;
        grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
        grid-template-areas:
            "intro-container-name intro-container-image"
            "intro-container-summary intro-container-image";
        margin: 8rem 3rem;
        padding: 0 100px;
    }

    @include tablet {
        grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
        grid-template-areas:
            "intro-container-name intro-container-image"
            "intro-container-summary intro-container-image";
        grid-gap: 1rem;
        padding: 0 50px;
    }

    &__name {
        display: flex;
        grid-area: intro-container-name;
        font-size: $font-size-primary;
        font-weight: 500;
        margin-top: 5%;
        align-items: end;
        flex-wrap: wrap;
        overflow: hidden;

        @include laptop-desktop {
            font-size: $font-size-primary-large;
            margin: 0 5%;
        }
    }

    &__summary {
        display: flex;
        grid-area: intro-container-summary;
        font-size: 2.5rem;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include laptop-desktop {
            font-size: 3.5rem;
            margin: 0 5%;
        }
    }

    &__image {
        display: none;
        grid-area: intro-container-image;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        flex-wrap: wrap;

        @include laptop-desktop {
            display: flex;
        }

        @include tablet {
            display: flex;
        }

        img {
            max-width: 80%;
        }
    }
}

// ---------- ABOUT SECTION ----------

.about {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;

    @include laptop-desktop {
        flex-direction: row;
        margin: 3rem 5rem;
        justify-content: center;
    }

    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include laptop-desktop {
            width: 90%;
        }

        @include tablet {
            width: 85%;
        }
    }

    &__image {
        width: 80%;
        border-radius: 15px;
        margin-top: 8%;
    }

    &__text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        @include laptop-desktop {
            align-self: flex-start;
        }

        @include tablet {
            align-self: flex-start;
        }
    }

    &__paragraph {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;

        @include laptop-desktop {
            text-align: left;
            width: 95%;
        }

        @include tablet {
            text-align: left;
        }
    }
}

// ---------- SKILLS SECTION ----------

.skills {
    margin: 5rem 2rem;

    @include laptop-desktop {
        margin-top: 8rem;
    }

    @include tablet {
        padding: 0 5%;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    &__icon-row {
        gap: 1.5rem;
        margin: 2% 10%;
        margin-top: 2.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        column-gap: 0;

        @include laptop-desktop {
            grid-template-columns: repeat(9, 1fr);
            gap: 0;
            margin: 2% 10%;
        }

        @include tablet {
            grid-template-columns: repeat(9, 1fr);
            gap: 0;
            margin: 2% 20%;
            align-content: center;
        }
    }

    &__icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 0;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    &__icon {
        height: 2.5rem;
        margin: 1rem;

        @include laptop-desktop {
            height: 3.5rem;
        }
    }

    span {
        font-size: 0.8rem;
    }
}
// ---------- PROJECTS SECTION ----------

.projects {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;

    @include laptop-desktop {
        padding: 1.5rem;
    }

    &__title {
        margin: 4rem 0;
    }

    &__cards-container {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        justify-items: center;
        gap: 7rem;
        padding: 0;
        margin: 0 auto;

        @include laptop-desktop {
            grid-template-columns: repeat(3, 1fr);
            margin: 0;
            justify-items: center;
            gap: 5rem;
            padding: 20px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            justify-items: center;
            gap: 5rem;
            padding: 20px;
        }
    }

    &__card-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }

    &__card-color-block {
        background-color: $tan;
        aspect-ratio: 3 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__card-btns {
        display: flex;
        justify-content: left;
        gap: 1rem;
    }

    &__btn--code {
        @include button-style($orange);
        display: inline-flex;
        margin: 0;
    }

    &__btn--preview {
        @include button-style($green);
        display: inline-flex;
        margin: 0;
    }

    &__code-icon {
        width: 20px;
        display: inline-block;
        padding: 0 5px;
        justify-content: center;
    }
}

// ---------- FOOTER SECTION ----------

.footer {
    background-color: black;
    font-weight: 400;
    color: white;
    padding: 1.5rem 2rem;
    text-align: center;
    margin-top: 120px;

    @include laptop-desktop {
        padding: 30px 180px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        @include laptop-desktop {
            flex-direction: row;
        }
    }

    &__icon-row {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
}
