@import "./button.scss";
@import "./palette.scss";
@import "./media.scss";

$font-family-primary: "DM Sans", sans-serif;
$font-size-primary: 1rem;
$font-size-primary-large: 1.3rem;
$font-size-small: 1.2rem;
$font-size-heading: 1.5rem;
$font-size-h2: 2rem;
$font-size-h2-large: 2.5rem;
$font-color-primary: black;

// GLOBAL STYLES -------------------

body {
    width: 100%;
    margin: 0;
    font-family: $font-family-primary;
}

main {
    font-size: $font-size-primary;
    color: $font-color-primary;
    margin: 2rem;

    @include laptop-desktop {
        font-size: $font-size-primary-large;
    }
}

h1 {
    font-size: $font-size-heading;
    font-weight: 700;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 600;
    text-align: center;

    @include laptop-desktop {
        font-size: $font-size-h2-large;
    }
}

h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-heading;
}

// HEADER & NAV ------------------------

.header {
    display: none;

    @include laptop-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 5rem;
    }
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-list {
        display: flex;
        gap: 5rem;
    }

    &-item {
        font-family: $font-family-primary;
        font-size: 1.3rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: $orange;
        }
    }

    &-link {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
    }
}

.header__contact-btn {
    @include button-style($orange);
    font-size: $font-size-small;
}

// ---------- INTRO SECTION ----------

.intro {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-container-name"
        "intro-container-summary";

    grid-gap: 2rem;

    // width: 100%;

    // align-content: center;
    // text-align: center;
    // overflow: hidden;

    @include laptop-desktop {
        grid-gap: 1rem;
        grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
        grid-template-areas:
            "intro-container-name intro-container-image"
            "intro-container-summary intro-container-image";
        margin: 8rem 3rem;
        // margin: 0 5rem;
        padding: 0 100px;
    }

    @include tablet {
        // grid-template-columns: minmax(0, 80%) minmax(40%, 50%);
        grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
        grid-template-areas:
            "intro-container-name intro-container-image"
            "intro-container-summary intro-container-image";
        // margin: 0 5%;

        grid-gap: 1rem;

        // margin: 0 5rem;
        padding: 0 50px;
    }
}

.intro__name {
    display: flex;
    grid-area: intro-container-name;
    font-size: $font-size-primary;
    font-weight: 500;
    margin-top: 5%;
    // justify-content:flex-end;
    align-items: end;
    // align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    @include laptop-desktop {
        font-size: $font-size-primary-large;
    }
}

.intro__summary {
    display: flex;
    grid-area: intro-container-summary;
    font-size: 2.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    // padding-right: 20%;
    // padding-left: 10%;

    @include laptop-desktop {
        font-size: 3.5rem;

        // margin: 0 5%;
    }
}

.intro__image {
    display: none;
    grid-area: intro-container-image;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    flex-wrap: wrap;
    // overflow: hidden;

    @include laptop-desktop {
        display: flex;
    }

    @include tablet {
        display: flex;
    }

    img {
        max-width: 80%;
        // height: auto;
        // object-fit: contain;
    }
}

// .intro img {
//     display: none;
//     // max-width: 100%;
//     // height: auto;
//     @include laptop-desktop {
//         display: inline-flex;
//     }
// }

// ---------- ABOUT SECTION ----------

.about {
    display: flex;
    flex-direction: column;
    margin: 5rem 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;

    @include laptop-desktop {
        flex-direction: row;
        margin: 3rem 5rem;
        justify-content: center;
    }

    @include tablet {
        flex-direction: row;
        justify-content: center;
    }
}

.about__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include laptop-desktop {
        width: 90%;
    }

    @include tablet {
        width: 85%;
    }
}

.about__image {
    width: 80%;
    border-radius: 15px;
    margin-top: 8%;

    @include laptop-desktop {
        // width: 90%;
    }
}

.about__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include laptop-desktop {
    //     padding: 0 5%;
    // }
}

.about__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @include laptop-desktop {
        align-self: flex-start;
    }

    @include tablet {
        align-self: flex-start;
    }
}

.about__paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

    @include laptop-desktop {
        text-align: left;
        width: 95%;
    }

    @include tablet {
        text-align: left;
    }
}

// ---------- SKILLS SECTION ----------

.skills {
    margin: 5rem 1rem;

    @include laptop-desktop {
        margin-top: 8rem;
    }

    @include tablet {
        padding: 0 5%;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    &__icon-row {
        gap: 1.5rem;
        margin: 2% 10%;
        margin-top: 2.5rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        column-gap: 0;

        @include laptop-desktop {
            grid-template-columns: repeat(9, 1fr);
            // width: 70%; // removed: was changing the alignment
            gap: 0;
            margin: 2% 10%;
        }

        @include tablet {
            grid-template-columns: repeat(9, 1fr);
            // width: 70%; // removed: was changing the alignment
            gap: 0;
            margin: 2% 20%;
            align-content: center;
        }
    }

    &__icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 0;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    &__icon {
        height: 2.5rem;
        margin: 1rem;

        @include laptop-desktop {
            height: 3.5rem;
        }
    }

    span {
        font-size: 0.8rem;
    }
}
// ---------- PROJECTS SECTION ----------

.projects {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    margin: 2rem 1rem;

    @include laptop-desktop {
        padding: 1.5rem;
        margin: 2rem 20rem;
    }

    &__cards-container {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        justify-items: center;
        gap: 0;
        padding: 0;
        margin: 0 auto;

        @include laptop-desktop {
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            justify-items: center;
            gap: 5rem;
            padding: 20px;
        }
    }
}

.projects__card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
    padding-top: 3rem;

    @include laptop-desktop {
        margin: 20px;

        // padding-top: 1rem;
    }
}

.projects__card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.projects__card-block {
    background-color: $tan;
    width: 100%;
    padding: 8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include laptop-desktop {
        // padding: 150px;
    }

    // @include tablet {
    //     width: 40%;
    // }
}

.projects__card-btns {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.projects__code-btn,
.projects__preview-btn {
    @include button-style($orange);
    display: inline-flex;
    margin: 0;
    // width: auto;
}

.projects__code-icon {
    width: 20px;
    display: inline-block;
    padding: 0 5px;
    justify-content: center;
}

// ---------- FOOTER SECTION ----------

.footer {
    background-color: black;
    font-weight: 400;
    color: white;
    padding: 1.5rem 2rem;
    text-align: center;
    margin-top: 120px;

    @include laptop-desktop {
        padding: 30px 180px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        @include laptop-desktop {
            flex-direction: row;
        }
    }

    &__icon-row {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
}
