body {
  width: 100%;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

main {
  font-size: 1rem;
  color: black;
  margin: 2rem;
}
@media only screen and (min-width: 1025px) {
  main {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.header {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 5rem;
  }
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 5rem;
}
.header__nav-item {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__nav-item:hover {
  color: #D5896F;
}
.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.header__contact-btn {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}
.header__contact-btn:hover {
  color: #D5896F;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "intro-container-name" "intro-container-summary";
  margin: 8rem 3rem;
  grid-gap: 2rem;
}
@media only screen and (min-width: 1025px) {
  .intro {
    grid-gap: 1rem;
    grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
    grid-template-areas: "intro-container-name intro-container-image" "intro-container-summary intro-container-image";
    padding: 0 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .intro {
    grid-template-columns: minmax(50%, 90%) minmax(50%, 10%);
    grid-template-areas: "intro-container-name intro-container-image" "intro-container-summary intro-container-image";
    grid-gap: 1rem;
    padding: 0 50px;
  }
}

.intro__name {
  display: flex;
  grid-area: intro-container-name;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5%;
  align-items: end;
  flex-wrap: wrap;
  overflow: hidden;
}
@media only screen and (min-width: 1025px) {
  .intro__name {
    font-size: 1.4rem;
  }
}

.intro__summary {
  display: flex;
  grid-area: intro-container-summary;
  font-size: 2.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
@media only screen and (min-width: 1025px) {
  .intro__summary {
    font-size: 3.5rem;
  }
}

.intro__image {
  display: none;
  grid-area: intro-container-image;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1025px) {
  .intro__image {
    display: flex;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .intro__image {
    display: flex;
  }
}
.intro__image img {
  max-width: 80%;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;
}
@media only screen and (min-width: 1025px) {
  .about {
    flex-direction: row;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: center;
  }
}

.about__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__image {
  width: 80%;
  border-radius: 15px;
  margin-top: 10%;
}
@media only screen and (min-width: 1025px) {
  .about__image {
    width: 100%;
  }
}

.about__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1025px) {
  .about__paragraph {
    text-align: left;
  }
}

.skills {
  margin: 3rem 1rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .skills {
    padding: 0 5%;
  }
}
.skills__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 0;
}
.skills__icon-row {
  gap: 1.5rem;
  margin-top: 2.5rem;
  gap: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (min-width: 1025px) {
  .skills__icon-row {
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    margin: 2% 10%;
  }
}
.skills__icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1025px) {
  .skills__icon-container {
    margin-bottom: 6rem;
  }
}
.skills__icon {
  height: 2.5rem;
  margin: 1rem;
}
@media only screen and (min-width: 1025px) {
  .skills__icon {
    height: 3.5rem;
  }
}
.skills span {
  font-size: 1.2rem;
}
@media only screen and (min-width: 1025px) {
  .skills span {
    font-size: 1rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}
@media only screen and (min-width: 1025px) {
  .projects {
    padding: 1.5rem;
    margin: 2rem 20rem;
  }
}
.projects__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 0;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .projects__cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    justify-items: center;
    gap: 5rem;
    padding: 20px;
  }
}

.projects__card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
  padding-top: 3rem;
}
@media only screen and (min-width: 1025px) {
  .projects__card {
    margin: 20px;
  }
}

.projects__card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.projects__card-block {
  background-color: #DAB785;
  width: 100%;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projects__card-btns {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.projects__code-btn,
.projects__preview-btn {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-flex;
  margin: 0;
}
.projects__code-btn:hover,
.projects__preview-btn:hover {
  color: #D5896F;
}

.projects__code-icon {
  width: 20px;
  display: inline-block;
  padding: 0 5px;
  justify-content: center;
}

.footer {
  background-color: black;
  font-weight: 400;
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-top: 120px;
}
@media only screen and (min-width: 1025px) {
  .footer {
    padding: 30px 180px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 1025px) {
  .footer__container {
    flex-direction: row;
  }
}
.footer__icon-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.footer__icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}/*# sourceMappingURL=styles.css.map */