body {
  margin: 0;
  font-family: "Crimson Text", serif;
}

main {
  font-size: 1rem;
  color: #242322;
}
@media only screen and (min-width: 1025px) {
  main {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem 0rem;
  box-shadow: 0px 5px 10px rgba(36, 35, 34, 0.5);
  z-index: 1000;
  text-align: center;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 1rem 3rem;
    text-align: left;
    position: sticky;
    top: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .header {
    justify-content: space-between;
    padding: 0.5rem 10rem;
    text-align: left;
    position: sticky;
    top: 0;
  }
}
.header__nav {
  display: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header__nav {
    justify-content: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media only screen and (min-width: 1025px) {
  .header__nav {
    display: flex;
  }
}
.header__nav-list {
  display: flex;
  gap: 5rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header__nav-list {
    gap: 2rem;
  }
}
.header__nav-item {
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__nav-item:hover {
  color: #D5896F;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header__nav-item {
    font-size: 1rem;
  }
}
.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.header__btn--contact {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
  border: 2px solid #D5896F;
  font-size: 1.2rem;
}
.header__btn--contact:hover {
  border: 2px solid #657153;
  transform: scale(0.9);
  transition: 0.2s;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header__btn--contact {
    font-size: 1rem;
  }
}

.intro {
  margin: 5rem 2rem 2rem 2rem;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .intro {
    margin: 0 8rem 5rem 8rem;
    padding: 0 5rem;
  }
}
.intro__summary {
  display: flex;
  font-size: 2.6rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 2rem 0 2rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .intro__summary {
    font-size: 3rem;
    margin: 7% 5%;
    align-items: start;
    padding-top: 2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .intro__summary {
    font-size: 3.5rem;
    margin: 7% 5%;
    align-items: start;
    padding-top: 2rem;
  }
}
.intro__divider {
  border: none;
  border-top: 2px solid #D5896F;
  width: 20%;
  margin: 20px auto;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: center;
    margin: 5rem 2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .about {
    flex-direction: row;
    margin: 3rem 5rem;
    justify-content: center;
  }
}
.about__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__image-container {
    width: 85%;
  }
}
@media only screen and (min-width: 1025px) {
  .about__image-container {
    width: 90%;
  }
}
.about__image {
  width: 80%;
  border-radius: 50px;
  margin-top: 8%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__image {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  .about__image {
    width: 60%;
  }
}
.about__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__title {
    align-self: flex-start;
    margin-bottom: 0.2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .about__title {
    align-self: flex-start;
    margin-bottom: 1rem;
  }
}
.about__paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__paragraph {
    text-align: left;
    padding: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .about__paragraph {
    text-align: left;
    width: 80%;
    padding: 0;
  }
}

.skills {
  margin: 5rem 2rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .skills {
    padding: 0 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .skills {
    margin-top: 8rem;
  }
}
.skills__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 0;
}
.skills__icon-row {
  gap: 1.5rem;
  margin: 2% 10%;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  -moz-column-gap: 0;
       column-gap: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .skills__icon-row {
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    margin: 2% 20%;
    align-content: center;
  }
}
@media only screen and (min-width: 1025px) {
  .skills__icon-row {
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    margin: 2% 15%;
  }
}
.skills__icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -moz-column-gap: 0;
       column-gap: 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.skills__icon {
  height: 3rem;
  margin: 1rem;
}
@media only screen and (min-width: 1025px) {
  .skills__icon {
    height: 4rem;
  }
}
.skills span {
  font-size: 0.8rem;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects {
    padding: 1.5rem;
    margin: 2rem 4rem;
  }
}
@media only screen and (min-width: 1025px) {
  .projects {
    padding: 1.5rem;
    margin: 2rem 10rem;
  }
}
.projects__title {
  margin: 4rem 0;
}
.projects__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 5rem;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects__cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    justify-items: center;
    gap: 5rem;
    padding: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .projects__cards-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    justify-items: center;
    gap: 5rem;
    padding: 20px;
  }
}
.projects__card-color-block {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 15px;
  aspect-ratio: 16/10;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  border: 2px solid #242322;
}
.projects__image {
  position: absolute;
  z-index: 2;
  max-width: 90%;
  height: auto;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 0;
  border: 1px solid #242322;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__language {
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: 800;
}
@media only screen and (min-width: 1025px) {
  .projects__language {
    font-size: 1rem;
  }
}
.projects__card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects__card-details {
    width: 90%;
  }
}
@media only screen and (min-width: 1025px) {
  .projects__card-details {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (min-width: 1025px) {
  .projects__card-description {
    font-size: 1.1rem;
    min-height: 5rem;
    margin: 0;
  }
}
.projects__card-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects__card-btns {
    justify-content: center;
  }
}
@media only screen and (min-width: 1025px) {
  .projects__card-btns {
    justify-content: left;
  }
}
.projects__btn--code {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
  border: 2px solid #D5896F;
  display: inline-flex;
  margin: 0;
}
.projects__btn--code:hover {
  border: 2px solid #6B4D57;
  transform: scale(0.9);
  transition: 0.2s;
}
.projects__btn--preview {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
  border: 2px solid #D5896F;
  display: inline-flex;
  margin: 0;
}
.projects__btn--preview:hover {
  border: 2px solid #657153;
  transform: scale(0.9);
  transition: 0.2s;
}
.projects__code-icon {
  width: 20px;
  display: inline-block;
  padding: 0 5px;
  justify-content: center;
}

.footer {
  background-color: #242322;
  font-weight: 400;
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-top: 2rem;
}
@media only screen and (min-width: 1025px) {
  .footer {
    padding: 30px 180px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 1025px) {
  .footer__container {
    flex-direction: row;
  }
}
.footer__icon-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.footer__icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}/*# sourceMappingURL=styles.css.map */